.header {
    display: flex;
    align-items: center;
    height: 190px;
    color: $darkBlue-text;
    &-contact {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 45px;
    }
    &-info {
        display: flex;
        align-items: center;
    }
}

.header-icon {
    color: $blue-icons;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    display: inline-block;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #d7d7d7;
    margin-right: 15px;
}

